<header>
  <div class="hero">
    <nav class="nav-container">
      <!-- Hamburger Button -->
      <h1>PRLY</h1>
      <button class="hamburger" (click)="toggleMenu()" aria-label="Menu">
        <span class="hamburger-lines"></span>
        <span class="hamburger-lines"></span>
        <span class="hamburger-lines"></span>
      </button>

      <!-- Navigation Links -->
      <div class="nav-links" [class.nav-active]="isMenuOpen()">
        <a href="/" (click)="toggleMenu()">Home</a>
        <a href="/about" (click)="toggleMenu()">About</a>
      </div>
    </nav>
  </div>
</header>
<main>
  <router-outlet />
</main>
