<header class="hero">
  <div>
    <nav class="nav-container">
      <!-- Hamburger Button -->
      <h1>PRLY</h1>
      <button class="hamburger" (click)="toggleMenu()" aria-label="Menu">
        <span class="hamburger-lines"></span>
        <span class="hamburger-lines"></span>
        <span class="hamburger-lines"></span>
      </button>

      <!-- Navigation Links -->
      <div class="nav-links" [class.nav-active]="isMenuOpen()">
        <a href="/" (click)="toggleMenu()">Home</a>
        <a href="/about" (click)="toggleMenu()">About</a>
      </div>
    </nav>
  </div>
  <h2>knitting, made seamless</h2>
</header>
<main>
  <h2>Your Projects</h2>
  @for (project of projects(); track project.id) {
    <app-project-card [project]="project" />
  }
</main>

<router-outlet />
