.projectCard {
  border: 1px solid rgb(54, 54, 54);
  border-radius: 10px;
  margin-bottom: 20px;
}

.projectSummary {
  padding: 0 10px;
}

.projectImg {
  width: 75%;
}

.projectCardBottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.projectAttributes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1rem;
}

.projectAttributes p {
  padding: 3px 5px;
  border: 1px solid rgb(54, 54, 54);
  font-size: 0.5rem;
}

.projectAttributes :nth-of-type(5) {
  border-radius: 0  0 0 10px;
}

.projectAttributes p:last-child {
  border-radius: 0  0 10px 0;
}

.projectCard img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  min-height: 200px;
  height: 100%;
}

a {
  text-decoration: none;
}
